body {
    background-color: darkkhaki;
}

img {
    float: left;
    height: 15cm;
    width: auto;
}

#desc {
    font-weight: bolder;
}

#ingredients {
    font-weight: bold;
}

ul {
    width: 20cm;
    background-color: mistyrose;
}

#steps {
    font-weight: bold;
}

ol {
    width: 45cm;
    background-color: mistyrose;
}