body {
    background-color: darkkhaki;
}

h1 {
    color: white;
    background-color: brown;
    width: 6cm;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.by {
    font-weight: bold;
}

img {
    height: 20cm;
    width: auto;
    float: left;
}

#desc {
    background-color: tomato;
    font-size: 28px;
}

li {
    font-size: 20px;
}